body {
  background-color: white;
  color: black;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.img-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.img-cont img {
  height: 200px;
  width: 450px;
}

.img-cont-main {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.img-cont-main img {
  height: 200px;
  width: 450px;
}

.title {
  width: 20%;
  padding: 10px;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-cont img {
  height: 500px;
  margin: 10px;
}

.book-text {
  width: 50%;
  display: flex;
  align-items: center;
}

.book-title-cont {
  display: flex;
  justify-content: center;
}

.book-title {
  margin: 10px;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}

.nav div .archive-img {
  height: 100%;
  width: 100%;
}

.nav div img {
  height: 50px;
  width: 100px;
}

.nav-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}

.archives {
  margin-right: 20px;
}

.characters {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.enemies-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemies {
  width: 80%;
}

.enemies-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.chars-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-bottom: 200px;
}

.characters-c img {
  height: 200px;
}

.chars {
  border: 1px solid black;
}

.chars div {
  margin: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  display: flex;
  justify-content: center;
}

.archive-div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.archive-file-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.writing-file-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.char-data {
  display: flex;
  flex-direction: row-reverse;
}
