body {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.img-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.title {
  width: 30%;
  padding: 10px;
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book-cont img {
  height: 500px;
  margin: 10px;
}

.book-text {
  width: 50%;
}
